body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#box1{
    box-sizing: border-box;
    border: 5px rgb(5, 125, 57) solid;
    width: 1050px;
    height: 100px;
    font-size: 13px;
    background-color: rgba(4, 154, 44, 0.684);
    display: flex;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 400px;
    border: 5px rgb(126, 91, 0) solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.684);
    padding: 20px;
    box-sizing: border-box;
}
table, th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}     
