*{
    margin:0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    position: absolute;
    height: 100%;
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 4px 30px;
}
.logo-img{
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 115px;
}
nav{
    background-color: whitesmoke;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.nav-links{
    text-decoration:wavy;
    color:blueviolet;
    padding: 3px 30px;
}
nav a{
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.language{
    justify-self: flex-end;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    width: 200px;
    z-index: 10;
}
nav a:hover{
    background-color:rgb(169, 201, 230);
    padding: auto;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
.services h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.services p{
    font-size: 18px;  
    text-align: center;
    max-width: 800px;
}