*{
    margin:0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("people.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(20px);
    position: absolute;
    
    height: 100%;
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 3px 30px;
}
nav{
    background-color: whitesmoke;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links{
    text-decoration:wavy;
    color:blueviolet;
    padding: 3px 30px;
}
.logo-img{
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: auto;
}
nav a{
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color:aliceblue;
    padding: auto;
}

#box1{
    box-sizing: border-box;
    border: 5px rgb(5, 125, 57) solid;
    width: 1050px;
    height: 100px;
    font-size: 13px;
    background-color: rgba(4, 154, 44, 0.684);
    display: flex;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 400px;
    border: 5px rgb(126, 91, 0) solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.684);
    padding: 20px;
    box-sizing: border-box;
}     
.search-form{
    margin: center;
}