@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

    background-image: url("people.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 4px 30px;
}
.logo-img{
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 115px;
}
nav{
    /* background-color: whitesmoke;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1); */
    background-color: #f6efe7; /* light beige */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.nav-links{
    text-decoration:wavy;
    color:blueviolet;
    padding: 3px 30px;
}
nav a{
    height: 50px;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.language{
    justify-self: flex-end;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    width: 200px;
    z-index: 10;
}
nav a:hover{
    background-color:rgb(169, 201, 230);
    padding: auto;
}

#box1{
    box-sizing: border-box;
    border: 5px rgb(5, 125, 57) solid;
    width: 1050px;
    height: 100px;
    font-size: 13px;
    background-color: rgba(4, 154, 44, 0.684);
    display: flex;
    text-align: left;
    border-radius: 10px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 400px;
    border: 5px rgb(126, 91, 0) solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.931);
    padding: 20px 20px;
    box-sizing: border-box;
}    
select{
    padding: 12px;
}
.service-list {
  list-style: none;
  padding: 0;
}

.service-list li {
  margin: 20px 0;
}

.service-list img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  vertical-align: middle;
}
